@import "../../styles/variables.scss";

.services-section {
  background: $theme-bg-color;
  // height: 120vh;
  padding: 6em 0;
  width: 100%;
  scroll-margin-top: 3em;

  .service-header {
    margin-top: 1em;
    h2 {
      font-family: $theme-heading-font;
      font-size: 4.4rem;
    }
  }

  @include tablet {
    .service-header {
      h2 {
        font-size: 3rem;
      }
    }
  }

  @include mobile {
    padding: 3em 0.8em 5em;

    .service-header {
      margin-top: 1em;
      h2 {
        font-size: 2rem;
      }
    }
  }
}
