@import "../../styles/variables.scss";

$color: white;

.hero-section {
  padding-top: 40px;
  scroll-margin-top: 6em;

  .title {
    font-size: 6em;
    font-weight: 500;
    font-family: $theme-heading-font;
    line-height: 1;
    letter-spacing: 0;
  }

  .subtitle {
    color: $theme-text-color-fade;
    width: 70%;
    font-weight: 700;
    margin-top: 3em;
  }

  .resume-container {
    display: flex;

    .resume-download-btn {
      display: flex;
      align-items: center;
      border: 1px solid $theme-border-color;
      width: max-content;
      border-radius: 50px;
      padding: 25px 60px;
      cursor: pointer;
      margin: 3em 2em 3em 0;

      img {
        margin-left: 20px;
        width: 15px;
        height: 15px;
      }

      p {
        margin: 0;
        font-weight: 700;
        font-size: 15px;
      }

      &:hover {
        background-color: #2e303d;
        transition: all 0.5s ease;
      }
    }
    .play-video-container {
      margin: 2em 0;
      display: flex;
      align-items: center;

      .play-icon {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background: transparent;
        cursor: pointer;
        border: 2px solid white;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        animation: ripple 1.5s linear infinite;
        transition: all 0.7s ease;

        &:hover {
          transform: scale(1.1);
        }
        &:focus {
          outline: none;
        }
      }
      p {
        margin: 0 40px;
        color: $theme-text-color-fade;
        font-weight: 600;
      }
    }
  }

  .avatar {
    width: 100%;

    img {
      width: 100%;
    }
  }

  @include tablet {
    .custom-row {
      display: flex;
      flex-direction: column-reverse;
    }

    .smaller-title {
      margin-top: 40px;
    }

    .title {
      font-size: 4em;
    }
  }

  @include mobile {
    padding: 40px 0.8em 0;
    .custom-row {
      display: flex;
      flex-direction: column-reverse;
    }

    .title {
      font-size: 3em;
      font-weight: 500;
      font-family: $theme-heading-font;
      line-height: 1;
      letter-spacing: 0;
    }

    .smaller-title {
      font-size: 2em;
      margin-top: 40px;
    }

    .subtitle {
      width: 90%;
      font-weight: 700;
      margin-top: 1.3em;
      font-size: 16px;
    }

    .avatar {
      width: 80%;
      margin: auto;
    }

    .resume-container {
      align-items: center;
      .resume-download-btn {
        width: 60%;
        justify-content: center;
        text-align: center;
        border-radius: 50px;
        padding: 15px 20px;
        // margin: 1.5em 0 4em;
        cursor: pointer;

        img {
          margin-left: 20px;
          width: 15px;
          height: 15px;
        }

        p {
          margin: 0;
          font-weight: 700;
          font-size: 15px;
        }
      }

      .play-video-container {
        margin: 0;
        display: flex;
        align-items: center;

        .play-icon {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          background: transparent;
          cursor: pointer;
          border: 2px solid white;
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          animation: ripple 1.5s linear infinite;
          transition: all 0.7s ease;

          &:hover {
            transform: scale(1.1);
          }
          &:focus {
            outline: none;
          }
        }
        p {
          margin: 0 40px;
          color: $theme-text-color-fade;
          font-weight: 600;
        }
      }
    }
  }
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba($color, 0.3), 0 0 0 1px rgba($color, 0.3), 0 0 0 3px rgba($color, 0.3), 0 0 0 5px rgba($color, 0.3);
  }
  100% {
    box-shadow: 0 0 0 0 rgba($color, 0.3), 0 0 0 4px rgba($color, 0.3), 0 0 0 20px rgba($color, 0), 0 0 0 30px rgba($color, 0);
  }
}
