@import "./variables.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: $theme-body-font;
  background-color: $theme-bg-color-dark;
  color: $theme-text-color;

  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.custom-tag {
  position: relative;
  color: $theme-text-color-fade;

  span {
    font-size: 18px;
    font-weight: 600;
    padding-left: 26px;
  }
}

.toaster-custom {
  font-weight: 600;
  font-size: 15px;
  font-family: $theme-body-font;
  background-color: rgba(3, 4, 4, 1) !important;
  color: white !important;
}

.no-drop {
  cursor: no-drop !important;
}

.link-tag {
  color: unset;
  text-decoration: none;
}

.link-tag:hover {
  color: unset;
}

.container {
  @media only screen and (min-width: 992px) {
    width: 78%;
  }
}

@include tablet {
  .mob-hide {
    display: none;
  }
}

@include mobile {
  .mob-hide {
    display: none;
  }
}
