@import "./variables.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: $theme-body-font;
  background-color: $theme-bg-color-dark;
  color: $theme-text-color;

  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

// .container {
//   @media only screen and (min-width: 992px) {
//     width: 78%;
//   }
// }

.custom-tag {
  position: relative;
  color: $theme-text-color-fade;

  span {
    font-size: 18px;
    font-weight: 600;
    padding-left: 26px;
  }
}

@media only screen and (max-width: 1050px) {
  .mob-hide {
    display: none;
  }
}
