@import "../../styles/variables.scss";

.canvas-container {
  background-color: $theme-bg-color-dark !important;

  .canvas-header {
    width: 45px;
    height: 45px;
    border: 1px solid rgba(255, 255, 255, 0.24);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    align-self: flex-end;
    margin: 20px;

    button {
      background: transparent url("../../images/cross.png") center/3em auto no-repeat;
      margin: 0;
      padding: 0;
    }
  }

  .canvas-body {
    .items {
      list-style: none;
      margin-top: 1em;
      padding-left: 10px;

      li {
        cursor: pointer;
        font-size: 16px;
        margin: 20px 0;
        font-weight: 600;
      }
    }

    .socials {
      display: flex;
      justify-content: center;
      margin-top: 40px;
      .round-icon {
        cursor: pointer;
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        border: 1px solid rgba(255, 255, 255, 0.2);
        margin: 0 10px;
        .icon {
          width: 20px;
        }
      }

      .round-icon:hover {
        background-color: #2e303d;
        transition: all 0.5s ease;
      }
    }
  }
}

.header-container {
  width: 100%;
  padding: 20px 0;
  align-items: center;
  justify-content: space-between;
  background: $theme-bg-color-dark;
  overflow: hidden;
  transition: all 0.5s ease;
  z-index: 1;

  .hambar-icon {
    display: none;
  }

  .logo-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    img {
      width: 90px;
      margin-right: 20px;
      cursor: pointer;
    }
    p {
      margin: 0;
    }
  }

  .items {
    height: 100%;
    width: 90%;
    margin-left: auto;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;

    li {
      font-size: 20px;
      color: $theme-text-color-fade;
      font-weight: 700;
      cursor: pointer;
    }

    :hover {
      color: white;
    }
  }

  .btn-container {
    .hire-me-btn {
      width: 70%;
      margin-left: auto;
      font-weight: 700;
      border: 1px solid $theme-border-color;
      padding: 20px 10px;
      border-radius: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 10px;
      cursor: pointer;

      p {
        margin: 0;
      }

      img {
        margin-left: 10px;
        width: 15px;
      }
    }
  }

  .hire-me-btn:hover {
    background-color: #2e303d;
    transition: all 0.5s ease;
  }

  @include tablet {
    background-color: $theme-bg-color;
    padding: 5px 0;

    .logo-container {
      img {
        width: 70px;
      }
    }

    .hambar-icon {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      img {
        width: 40px;
        height: 40px;
        cursor: pointer;
      }
    }

    .items,
    .hire-me-btn {
      display: none;
    }
  }

  @include mobile {
    background-color: $theme-bg-color;
    padding: 5px 0;

    .hambar-icon {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      img {
        width: 30px;
        height: 30px;
        cursor: pointer;
      }
    }

    .items,
    .hire-me-btn {
      display: none;
    }

    .logo-container {
      img {
        width: 70px;
      }
    }
  }
}

.header-fixed {
  // height: 120px;
  position: fixed;
  top: 0;
  opacity: 1;
  animation: smoothScroll 1s forwards;
}

@keyframes smoothScroll {
  0% {
    transform: translateY(-40px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
